@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Condensed, sans-serif;
}

body {
  background-color: #ffe9f3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 50px;
  background-color: #262730;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 35px;
  color: #eff0d1;
  text-decoration: none;
  font-family: Roboto Condensed;
  font-weight: 700;
  text-transform: uppercase;
}

nav a {
  font-size: 18px;
  flex-shrink: 1;
  padding: 0px 25px;
  text-decoration: none;
  color: #eff0d1;
  font-weight: 700;
  transition: 0.3s;
}

#about:hover {
  color: #87baab;
}

#projects:hover {
  color: #87baab;
}

.button {
  border: 3px solid #87baab;
  display: inline-block;
  padding: 15px 0;
}

.button:hover {
  background-color: #87baab;
  transition: 0.5s;
}

.button a {
  font-size: 18px;
  text-transform: uppercase;
}

.home-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 100px;
  max-width: 600px;
}

.home h1 {
  color: #262730;
  font-size: 50px;
}

.home h2 {
  color: #87baab;
  font-size: 50px;
}

.home p {
  color: #262730;
  padding: 25px 0px;
  font-size: 18px;
  font: Roboto, sans-serif;
}

.home-content div {
  border: 3px solid #87baab;
  display: inline-block;
  padding: 15px 25px;
}

.home-content a {
  font-size: 20px;
  font-weight: 700;
  color: #262730;
  text-decoration: none;
  text-transform: uppercase;
}

.icons {
  position: fixed;
  inset: 35% 0% 43% 95%;
  width: 90px;
  background-color: #262730;
  border: 3px solid #87baab;
}

.icons a {
  text-decoration: none;
  padding: 5px;
}

.icons i {
  font-size: 40px;
  color: #eff0d1;
  display: block;
  text-align: center;
}

.icons i:hover {
  color: #87baab;
  transform: scale(1.25);
}

.wrapper {
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: #eff0d1;
}
