@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Condensed, sans-serif;
}

body {
  background-color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 50px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 35px;
  color: #f5efe8;
  text-decoration: none;
  font-family: Roboto Condensed;
  font-weight: 700;
  text-transform: uppercase;
}

nav a {
  font-size: 18px;
  padding: 0px 25px;
  text-decoration: none;
  color: #f5efe8;
  font-weight: 700;
  transition: 0.3s;
}

nav a:hover {
  color: #ec6302;
}

.button {
  border: 3px solid #ec6302;
  display: inline-block;
  padding: 15px 0;
  margin-left: 20px;
}

.button:hover {
  background-color: #ec63029c;
  transition: 0.3s;
}

.button a {
  font-size: 18px;
  text-transform: uppercase;
}

.home {
  background-image: url("./assets/PreviewSimple.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 100px;
  max-width: 600px;
}

.home h1 {
  color: #f5efe8;
  font-size: 50px;
}

.home p {
  color: #f5efe8;
  padding: 25px 0px;
  font-size: 18px;
  font: Roboto, sans-serif;
}

.home-content div {
  border: 3px solid #ec6302;
  display: inline-block;
  padding: 15px 25px;
}

.home-content a {
  font-size: 20px;
  font-weight: 700;
  color: #f5efe8;
  text-decoration: none;
  text-transform: uppercase;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  height: 50vh;
  width: 30vh;
}
